<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><h1>新しい記事</h1></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <%= link_to '新しい記事', new_article_path, class: "btn btn-primary" %>
      </form>
    </div>
  </nav>

  <%= render 'form', article: @article %>

  <%= link_to 'Back', articles_path %>
</div>